body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.page-wrapper {
    position: relative;
    z-index: 2;
}

/*BG*/
.bg-split {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
}

.bg-kiri{
    width: 50%;
    background: #FFA6A6; 
}

.bg-kanan {

    width: 50%;
    background: #FF7070; 
}


.bg-tengah {
    position: fixed;
    width: 250px;
    height: 200%;
    background: #EB4C4C; 
    top: -50%;
    left: 45%;
    transform: rotate(10deg);
}

/*HEADER SET*/
header.main.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    position: relative;
    z-index: 100;
}

.logo-kiri img {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 10px;
    padding: 5px;
}

.nav-kanan {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-kanan a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.nav-kanan a:hover {
    transform: scale(1.2);
}

.btn-c {
    background: white;
    color: black !important;
    padding: 15px;
    border-radius: 30px;
}
.logo-kiri:hover {
    transform: scale(1.1);
}





/*BERANDA*/
.konten-beranda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.konten-kiri {
    width: 50%;
}

.konten-kiri h2 {
    font-size: 80px;
    margin: 10px 0;
    line-height: 1;
}


.sosmed {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.sosmed a img {
    width: 30px;
    height: 30px;
}

.sosmed a:hover {
    transform: scale(1.1);
}

.sosmed a {
    background: white;
    color: black;
    text-decoration: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}

.konten-kanan img {
    width: 400px;
    filter: drop-shadow(10px 10px 20px black);
}
.konten-kanan img:hover {
    transform: scale(1.1);
}





/*SKILLS & ABOUT CARD*/
.skills-section, section {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.kiri, .about-kanan {
    width: 38%;
    font-size: bold;
}
.about-kanan p{
    margin-top: -15px;
}
.about-kiri h2{
    font-weight: bold;
}
.about-kanan h1 {
    font-size: 50px;
    margin-bottom: -15px;
}

.about-kiri h1 {
    font-size: 40px;
}

.about-kiri {
    width: 40%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
    color:white;
}

/*Skill*/
.kanan{
    width: 35%;
    margin-top: -100px;

}
.kanan h1{
    font-size: 40px;
    color: white;
    margin-top:30px;
}
.kiri h1{
    font-size: 50px;
    color: black;
    margin-bottom: -20px; 
    margin-top:10px
}

.skills-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: -30px;
}

.skill-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.skill-card img {
    width: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.skill-card p {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.skill-card:hover {
    transform: translateY(-5px);}





/*PORTOFOLIO SET*/
.porto-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    position: relative;
    z-index: 5;
}

.porto-kiri {
    width: 40%;
}

.porto-kiri h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.porto-kiri p {
    font-size: 15px;
}

/*box transparant*/
.porto-kanan {
    width: 40%;
    height: 40px;
    margin-top: -90px;
}

/*judul*/
.porto-kanan h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

/*grid*/
.porto-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/*card*/
.porto-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: -25px;
}

.porto-card:hover {
    transform: translateY(-8px);
}

/*gambar*/
.porto-card img {
    width: 40%;
    height: 80px;
}

/*isi*/
.porto-info {
    padding: 15px;
    color: white;
    margin-top: -50px;
}

.porto-info h3 {
    font-size: 16px;
    margin-top: 30px;
}

.porto-info p {
    font-size: 12px; 
    margin-top: -15px;
    color: rgb(0, 0, 0);
}

/*button set*/
.porto-buttons {
    display: flex;
    gap: 5px;
}

.btn-mini {
    text-decoration: none;
    color: rgb(216, 20, 63);
    font-size: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-mini:hover {
    background: white;
    color: rgb(216, 20, 63);
}






/*CONTACT SET*/
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.contact-kiri {
    width: 40%;
}

.contact-kiri h1 {
    font-size: 60px;
    margin-top: -150px;
}

.contact-kiri p {
    font-size: 16px;
    margin-top: -40px;
}

.contact-kanan {
    width: 50%;
}

.contact-kanan h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -40px;
}

/*form*/
.form-group {
    margin-bottom: 25px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
    color: white;
    font-size: 14px;
    outline: none;
}

.form-group textarea {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    padding: 15px;
    color: white;
    font-size: 14px;
    height: 100px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgb(223, 208, 208);
    font-weight: bold;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

/*button sub*/
.btn-submit {
    width: 100%;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    transform: translateY(-3px);
}